tensorflow[and-cuda]==2.20
pyspark[connect]==4.1.1
datalad
nibabel
nilearn
pandas
numpy
scipy
scikit-learn
matplotlib
seaborn
jupyterlab
nbconvert
ipykernel
mlflow
pyarrow
fastparquet
psutil
openneuro-py
marimo[recommended]
plotly
tensorflow-probability  # optional, for Gaussian Process / probabilistic layers
